<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hsy.barmiapp_android_third">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_1"
        android:name=".GlobalApplication"
        android:label="바르미"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.MainInfoActivity" />
        <activity android:name=".intro.KakaoSignupActivity" />
        <activity android:name=".recipe.RecipeInfoActivity" />
        <activity android:name=".privacy.PrivacyInfoActivity" />
        <activity android:name=".privacy.PrivacyModifyActivity" />
        <activity android:name=".recipe.PopularActivity" />
        <activity
            android:name=".notice.NoticeInfoActivity"
            android:label="@string/title_activity_notice_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".notice.NoticeModifyActivity"
            android:label="@string/title_activity_notice_modify"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".recipe_detail.RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".notice.NoticeDetailActivity"
            android:label="@string/title_activity_notice_detail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".develope.DevelopeActivity"
            android:label="@string/title_activity_develope"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".intro.WebviewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>